
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=aqola
POSTGRES_USER=aqola_user
POSTGRES_PASSWORD=changeme_in_production

DATA_PATH_DEV=your_path_to_the_data_onedrive_folder
# e.g. DATA_PATH_DEV=C:\Users\Andrew Meyer\OneDrive - University of Kent\Files\Computer Science\Year 3 (25-26)\Project\Research\Raw Data Research\data\

ENVIRONMENT=development

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

API_HOST=0.0.0.0
API_PORT=8000

REACT_APP_API_URL=http://localhost:8000


DB_EXTERNAL_PORT=5432
API_EXTERNAL_PORT=8000
FRONTEND_EXTERNAL_PORT=3000
